{
  "name": "davidckramer.github.io",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [
      "sass",
      "css"
    ],
    "hideSystemFiles": true,
    "selectedPath": "",
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "css/0-plugins/plugins-dir.scss",
      "imports": [
        "css/0-plugins/bourbon/_bourbon.scss",
        "css/0-plugins/neat/_neat.scss",
        "css/0-plugins/bourbon/settings/_prefixer.scss",
        "css/0-plugins/bourbon/settings/_px-to-em.scss",
        "css/0-plugins/bourbon/settings/_asset-pipeline.scss",
        "css/0-plugins/bourbon/functions/_assign-inputs.scss",
        "css/0-plugins/bourbon/functions/_contains.scss",
        "css/0-plugins/bourbon/functions/_contains-falsy.scss",
        "css/0-plugins/bourbon/functions/_is-length.scss",
        "css/0-plugins/bourbon/functions/_is-light.scss",
        "css/0-plugins/bourbon/functions/_is-number.scss",
        "css/0-plugins/bourbon/functions/_is-size.scss",
        "css/0-plugins/bourbon/functions/_px-to-em.scss",
        "css/0-plugins/bourbon/functions/_px-to-rem.scss",
        "css/0-plugins/bourbon/functions/_shade.scss",
        "css/0-plugins/bourbon/functions/_strip-units.scss",
        "css/0-plugins/bourbon/functions/_tint.scss",
        "css/0-plugins/bourbon/functions/_transition-property-name.scss",
        "css/0-plugins/bourbon/functions/_unpack.scss",
        "css/0-plugins/bourbon/functions/_modular-scale.scss",
        "css/0-plugins/bourbon/helpers/_convert-units.scss",
        "css/0-plugins/bourbon/helpers/_directional-values.scss",
        "css/0-plugins/bourbon/helpers/_font-source-declaration.scss",
        "css/0-plugins/bourbon/helpers/_gradient-positions-parser.scss",
        "css/0-plugins/bourbon/helpers/_linear-angle-parser.scss",
        "css/0-plugins/bourbon/helpers/_linear-gradient-parser.scss",
        "css/0-plugins/bourbon/helpers/_linear-positions-parser.scss",
        "css/0-plugins/bourbon/helpers/_linear-side-corner-parser.scss",
        "css/0-plugins/bourbon/helpers/_radial-arg-parser.scss",
        "css/0-plugins/bourbon/helpers/_radial-positions-parser.scss",
        "css/0-plugins/bourbon/helpers/_radial-gradient-parser.scss",
        "css/0-plugins/bourbon/helpers/_render-gradients.scss",
        "css/0-plugins/bourbon/helpers/_shape-size-stripper.scss",
        "css/0-plugins/bourbon/helpers/_str-to-num.scss",
        "css/0-plugins/bourbon/css3/_animation.scss",
        "css/0-plugins/bourbon/css3/_appearance.scss",
        "css/0-plugins/bourbon/css3/_backface-visibility.scss",
        "css/0-plugins/bourbon/css3/_background.scss",
        "css/0-plugins/bourbon/css3/_background-image.scss",
        "css/0-plugins/bourbon/css3/_border-image.scss",
        "css/0-plugins/bourbon/css3/_calc.scss",
        "css/0-plugins/bourbon/css3/_columns.scss",
        "css/0-plugins/bourbon/css3/_filter.scss",
        "css/0-plugins/bourbon/css3/_flex-box.scss",
        "css/0-plugins/bourbon/css3/_font-face.scss",
        "css/0-plugins/bourbon/css3/_font-feature-settings.scss",
        "css/0-plugins/bourbon/css3/_hidpi-media-query.scss",
        "css/0-plugins/bourbon/css3/_hyphens.scss",
        "css/0-plugins/bourbon/css3/_image-rendering.scss",
        "css/0-plugins/bourbon/css3/_keyframes.scss",
        "css/0-plugins/bourbon/css3/_linear-gradient.scss",
        "css/0-plugins/bourbon/css3/_perspective.scss",
        "css/0-plugins/bourbon/css3/_placeholder.scss",
        "css/0-plugins/bourbon/css3/_radial-gradient.scss",
        "css/0-plugins/bourbon/css3/_selection.scss",
        "css/0-plugins/bourbon/css3/_text-decoration.scss",
        "css/0-plugins/bourbon/css3/_transform.scss",
        "css/0-plugins/bourbon/css3/_transition.scss",
        "css/0-plugins/bourbon/css3/_user-select.scss",
        "css/0-plugins/bourbon/addons/_border-color.scss",
        "css/0-plugins/bourbon/addons/_border-radius.scss",
        "css/0-plugins/bourbon/addons/_border-style.scss",
        "css/0-plugins/bourbon/addons/_border-width.scss",
        "css/0-plugins/bourbon/addons/_buttons.scss",
        "css/0-plugins/bourbon/addons/_clearfix.scss",
        "css/0-plugins/bourbon/addons/_ellipsis.scss",
        "css/0-plugins/bourbon/addons/_font-stacks.scss",
        "css/0-plugins/bourbon/addons/_hide-text.scss",
        "css/0-plugins/bourbon/addons/_margin.scss",
        "css/0-plugins/bourbon/addons/_padding.scss",
        "css/0-plugins/bourbon/addons/_position.scss",
        "css/0-plugins/bourbon/addons/_prefixer.scss",
        "css/0-plugins/bourbon/addons/_retina-image.scss",
        "css/0-plugins/bourbon/addons/_size.scss",
        "css/0-plugins/bourbon/addons/_text-inputs.scss",
        "css/0-plugins/bourbon/addons/_timing-functions.scss",
        "css/0-plugins/bourbon/addons/_triangle.scss",
        "css/0-plugins/bourbon/addons/_word-wrap.scss",
        "css/0-plugins/bourbon/_bourbon-deprecated-upcoming.scss",
        "css/0-plugins/neat/_neat-helpers.scss",
        "css/0-plugins/neat/grid/_private.scss",
        "css/0-plugins/neat/grid/_box-sizing.scss",
        "css/0-plugins/neat/grid/_omega.scss",
        "css/0-plugins/neat/grid/_outer-container.scss",
        "css/0-plugins/neat/grid/_span-columns.scss",
        "css/0-plugins/neat/grid/_row.scss",
        "css/0-plugins/neat/grid/_shift.scss",
        "css/0-plugins/neat/grid/_pad.scss",
        "css/0-plugins/neat/grid/_fill-parent.scss",
        "css/0-plugins/neat/grid/_media.scss",
        "css/0-plugins/neat/grid/_to-deprecate.scss",
        "css/0-plugins/neat/grid/_visual-grid.scss",
        "css/0-plugins/neat/grid/_display-context.scss",
        "css/0-plugins/neat/grid/_direction-context.scss",
        "css/0-plugins/neat/mixins/_clearfix.scss",
        "css/0-plugins/neat/functions/_private.scss",
        "css/0-plugins/neat/functions/_new-breakpoint.scss",
        "css/0-plugins/neat/settings/_grid.scss",
        "css/0-plugins/neat/settings/_visual-grid.scss",
        "css/0-plugins/neat/settings/_disable-warnings.scss"
      ]
    },
    {
      "path": "css/app.scss",
      "imports": [
        "css/0-plugins/plugins-dir.scss",
        "css/1-base/base-dir.scss",
        "css/2-modules/modules-dir.scss",
        "css/3-layouts/layouts-dir.scss",
        "css/0-plugins/bourbon/_bourbon.scss",
        "css/0-plugins/neat/_neat.scss",
        "css/0-plugins/bourbon/settings/_prefixer.scss",
        "css/0-plugins/bourbon/settings/_px-to-em.scss",
        "css/0-plugins/bourbon/settings/_asset-pipeline.scss",
        "css/0-plugins/bourbon/functions/_assign-inputs.scss",
        "css/0-plugins/bourbon/functions/_contains.scss",
        "css/0-plugins/bourbon/functions/_contains-falsy.scss",
        "css/0-plugins/bourbon/functions/_is-length.scss",
        "css/0-plugins/bourbon/functions/_is-light.scss",
        "css/0-plugins/bourbon/functions/_is-number.scss",
        "css/0-plugins/bourbon/functions/_is-size.scss",
        "css/0-plugins/bourbon/functions/_px-to-em.scss",
        "css/0-plugins/bourbon/functions/_px-to-rem.scss",
        "css/0-plugins/bourbon/functions/_shade.scss",
        "css/0-plugins/bourbon/functions/_strip-units.scss",
        "css/0-plugins/bourbon/functions/_tint.scss",
        "css/0-plugins/bourbon/functions/_transition-property-name.scss",
        "css/0-plugins/bourbon/functions/_unpack.scss",
        "css/0-plugins/bourbon/functions/_modular-scale.scss",
        "css/0-plugins/bourbon/helpers/_convert-units.scss",
        "css/0-plugins/bourbon/helpers/_directional-values.scss",
        "css/0-plugins/bourbon/helpers/_font-source-declaration.scss",
        "css/0-plugins/bourbon/helpers/_gradient-positions-parser.scss",
        "css/0-plugins/bourbon/helpers/_linear-angle-parser.scss",
        "css/0-plugins/bourbon/helpers/_linear-gradient-parser.scss",
        "css/0-plugins/bourbon/helpers/_linear-positions-parser.scss",
        "css/0-plugins/bourbon/helpers/_linear-side-corner-parser.scss",
        "css/0-plugins/bourbon/helpers/_radial-arg-parser.scss",
        "css/0-plugins/bourbon/helpers/_radial-positions-parser.scss",
        "css/0-plugins/bourbon/helpers/_radial-gradient-parser.scss",
        "css/0-plugins/bourbon/helpers/_render-gradients.scss",
        "css/0-plugins/bourbon/helpers/_shape-size-stripper.scss",
        "css/0-plugins/bourbon/helpers/_str-to-num.scss",
        "css/0-plugins/bourbon/css3/_animation.scss",
        "css/0-plugins/bourbon/css3/_appearance.scss",
        "css/0-plugins/bourbon/css3/_backface-visibility.scss",
        "css/0-plugins/bourbon/css3/_background.scss",
        "css/0-plugins/bourbon/css3/_background-image.scss",
        "css/0-plugins/bourbon/css3/_border-image.scss",
        "css/0-plugins/bourbon/css3/_calc.scss",
        "css/0-plugins/bourbon/css3/_columns.scss",
        "css/0-plugins/bourbon/css3/_filter.scss",
        "css/0-plugins/bourbon/css3/_flex-box.scss",
        "css/0-plugins/bourbon/css3/_font-face.scss",
        "css/0-plugins/bourbon/css3/_font-feature-settings.scss",
        "css/0-plugins/bourbon/css3/_hidpi-media-query.scss",
        "css/0-plugins/bourbon/css3/_hyphens.scss",
        "css/0-plugins/bourbon/css3/_image-rendering.scss",
        "css/0-plugins/bourbon/css3/_keyframes.scss",
        "css/0-plugins/bourbon/css3/_linear-gradient.scss",
        "css/0-plugins/bourbon/css3/_perspective.scss",
        "css/0-plugins/bourbon/css3/_placeholder.scss",
        "css/0-plugins/bourbon/css3/_radial-gradient.scss",
        "css/0-plugins/bourbon/css3/_selection.scss",
        "css/0-plugins/bourbon/css3/_text-decoration.scss",
        "css/0-plugins/bourbon/css3/_transform.scss",
        "css/0-plugins/bourbon/css3/_transition.scss",
        "css/0-plugins/bourbon/css3/_user-select.scss",
        "css/0-plugins/bourbon/addons/_border-color.scss",
        "css/0-plugins/bourbon/addons/_border-radius.scss",
        "css/0-plugins/bourbon/addons/_border-style.scss",
        "css/0-plugins/bourbon/addons/_border-width.scss",
        "css/0-plugins/bourbon/addons/_buttons.scss",
        "css/0-plugins/bourbon/addons/_clearfix.scss",
        "css/0-plugins/bourbon/addons/_ellipsis.scss",
        "css/0-plugins/bourbon/addons/_font-stacks.scss",
        "css/0-plugins/bourbon/addons/_hide-text.scss",
        "css/0-plugins/bourbon/addons/_margin.scss",
        "css/0-plugins/bourbon/addons/_padding.scss",
        "css/0-plugins/bourbon/addons/_position.scss",
        "css/0-plugins/bourbon/addons/_prefixer.scss",
        "css/0-plugins/bourbon/addons/_retina-image.scss",
        "css/0-plugins/bourbon/addons/_size.scss",
        "css/0-plugins/bourbon/addons/_text-inputs.scss",
        "css/0-plugins/bourbon/addons/_timing-functions.scss",
        "css/0-plugins/bourbon/addons/_triangle.scss",
        "css/0-plugins/bourbon/addons/_word-wrap.scss",
        "css/0-plugins/bourbon/_bourbon-deprecated-upcoming.scss",
        "css/0-plugins/neat/_neat-helpers.scss",
        "css/0-plugins/neat/grid/_private.scss",
        "css/0-plugins/neat/grid/_box-sizing.scss",
        "css/0-plugins/neat/grid/_omega.scss",
        "css/0-plugins/neat/grid/_outer-container.scss",
        "css/0-plugins/neat/grid/_span-columns.scss",
        "css/0-plugins/neat/grid/_row.scss",
        "css/0-plugins/neat/grid/_shift.scss",
        "css/0-plugins/neat/grid/_pad.scss",
        "css/0-plugins/neat/grid/_fill-parent.scss",
        "css/0-plugins/neat/grid/_media.scss",
        "css/0-plugins/neat/grid/_to-deprecate.scss",
        "css/0-plugins/neat/grid/_visual-grid.scss",
        "css/0-plugins/neat/grid/_display-context.scss",
        "css/0-plugins/neat/grid/_direction-context.scss",
        "css/0-plugins/neat/mixins/_clearfix.scss",
        "css/0-plugins/neat/functions/_private.scss",
        "css/0-plugins/neat/functions/_new-breakpoint.scss",
        "css/0-plugins/neat/settings/_grid.scss",
        "css/0-plugins/neat/settings/_visual-grid.scss",
        "css/0-plugins/neat/settings/_disable-warnings.scss"
      ]
    },
    {
      "path": "css/styles.scss",
      "imports": [
        "css/0-plugins/plugins-dir.scss",
        "css/1-base/base-dir.scss",
        "css/2-modules/modules-dir.scss",
        "css/3-layouts/layouts-dir.scss",
        "css/0-plugins/bourbon/_bourbon.scss",
        "css/0-plugins/neat/_neat.scss",
        "css/3-layouts/home.scss",
        "css/0-plugins/bourbon/settings/_prefixer.scss",
        "css/0-plugins/bourbon/settings/_px-to-em.scss",
        "css/0-plugins/bourbon/settings/_asset-pipeline.scss",
        "css/0-plugins/bourbon/functions/_assign-inputs.scss",
        "css/0-plugins/bourbon/functions/_contains.scss",
        "css/0-plugins/bourbon/functions/_contains-falsy.scss",
        "css/0-plugins/bourbon/functions/_is-length.scss",
        "css/0-plugins/bourbon/functions/_is-light.scss",
        "css/0-plugins/bourbon/functions/_is-number.scss",
        "css/0-plugins/bourbon/functions/_is-size.scss",
        "css/0-plugins/bourbon/functions/_px-to-em.scss",
        "css/0-plugins/bourbon/functions/_px-to-rem.scss",
        "css/0-plugins/bourbon/functions/_shade.scss",
        "css/0-plugins/bourbon/functions/_strip-units.scss",
        "css/0-plugins/bourbon/functions/_tint.scss",
        "css/0-plugins/bourbon/functions/_transition-property-name.scss",
        "css/0-plugins/bourbon/functions/_unpack.scss",
        "css/0-plugins/bourbon/functions/_modular-scale.scss",
        "css/0-plugins/bourbon/helpers/_convert-units.scss",
        "css/0-plugins/bourbon/helpers/_directional-values.scss",
        "css/0-plugins/bourbon/helpers/_font-source-declaration.scss",
        "css/0-plugins/bourbon/helpers/_gradient-positions-parser.scss",
        "css/0-plugins/bourbon/helpers/_linear-angle-parser.scss",
        "css/0-plugins/bourbon/helpers/_linear-gradient-parser.scss",
        "css/0-plugins/bourbon/helpers/_linear-positions-parser.scss",
        "css/0-plugins/bourbon/helpers/_linear-side-corner-parser.scss",
        "css/0-plugins/bourbon/helpers/_radial-arg-parser.scss",
        "css/0-plugins/bourbon/helpers/_radial-positions-parser.scss",
        "css/0-plugins/bourbon/helpers/_radial-gradient-parser.scss",
        "css/0-plugins/bourbon/helpers/_render-gradients.scss",
        "css/0-plugins/bourbon/helpers/_shape-size-stripper.scss",
        "css/0-plugins/bourbon/helpers/_str-to-num.scss",
        "css/0-plugins/bourbon/css3/_animation.scss",
        "css/0-plugins/bourbon/css3/_appearance.scss",
        "css/0-plugins/bourbon/css3/_backface-visibility.scss",
        "css/0-plugins/bourbon/css3/_background.scss",
        "css/0-plugins/bourbon/css3/_background-image.scss",
        "css/0-plugins/bourbon/css3/_border-image.scss",
        "css/0-plugins/bourbon/css3/_calc.scss",
        "css/0-plugins/bourbon/css3/_columns.scss",
        "css/0-plugins/bourbon/css3/_filter.scss",
        "css/0-plugins/bourbon/css3/_flex-box.scss",
        "css/0-plugins/bourbon/css3/_font-face.scss",
        "css/0-plugins/bourbon/css3/_font-feature-settings.scss",
        "css/0-plugins/bourbon/css3/_hidpi-media-query.scss",
        "css/0-plugins/bourbon/css3/_hyphens.scss",
        "css/0-plugins/bourbon/css3/_image-rendering.scss",
        "css/0-plugins/bourbon/css3/_keyframes.scss",
        "css/0-plugins/bourbon/css3/_linear-gradient.scss",
        "css/0-plugins/bourbon/css3/_perspective.scss",
        "css/0-plugins/bourbon/css3/_placeholder.scss",
        "css/0-plugins/bourbon/css3/_radial-gradient.scss",
        "css/0-plugins/bourbon/css3/_selection.scss",
        "css/0-plugins/bourbon/css3/_text-decoration.scss",
        "css/0-plugins/bourbon/css3/_transform.scss",
        "css/0-plugins/bourbon/css3/_transition.scss",
        "css/0-plugins/bourbon/css3/_user-select.scss",
        "css/0-plugins/bourbon/addons/_border-color.scss",
        "css/0-plugins/bourbon/addons/_border-radius.scss",
        "css/0-plugins/bourbon/addons/_border-style.scss",
        "css/0-plugins/bourbon/addons/_border-width.scss",
        "css/0-plugins/bourbon/addons/_buttons.scss",
        "css/0-plugins/bourbon/addons/_clearfix.scss",
        "css/0-plugins/bourbon/addons/_ellipsis.scss",
        "css/0-plugins/bourbon/addons/_font-stacks.scss",
        "css/0-plugins/bourbon/addons/_hide-text.scss",
        "css/0-plugins/bourbon/addons/_margin.scss",
        "css/0-plugins/bourbon/addons/_padding.scss",
        "css/0-plugins/bourbon/addons/_position.scss",
        "css/0-plugins/bourbon/addons/_prefixer.scss",
        "css/0-plugins/bourbon/addons/_retina-image.scss",
        "css/0-plugins/bourbon/addons/_size.scss",
        "css/0-plugins/bourbon/addons/_text-inputs.scss",
        "css/0-plugins/bourbon/addons/_timing-functions.scss",
        "css/0-plugins/bourbon/addons/_triangle.scss",
        "css/0-plugins/bourbon/addons/_word-wrap.scss",
        "css/0-plugins/bourbon/_bourbon-deprecated-upcoming.scss",
        "css/0-plugins/neat/_neat-helpers.scss",
        "css/0-plugins/neat/grid/_private.scss",
        "css/0-plugins/neat/grid/_box-sizing.scss",
        "css/0-plugins/neat/grid/_omega.scss",
        "css/0-plugins/neat/grid/_outer-container.scss",
        "css/0-plugins/neat/grid/_span-columns.scss",
        "css/0-plugins/neat/grid/_row.scss",
        "css/0-plugins/neat/grid/_shift.scss",
        "css/0-plugins/neat/grid/_pad.scss",
        "css/0-plugins/neat/grid/_fill-parent.scss",
        "css/0-plugins/neat/grid/_media.scss",
        "css/0-plugins/neat/grid/_to-deprecate.scss",
        "css/0-plugins/neat/grid/_visual-grid.scss",
        "css/0-plugins/neat/grid/_display-context.scss",
        "css/0-plugins/neat/grid/_direction-context.scss",
        "css/0-plugins/neat/mixins/_clearfix.scss",
        "css/0-plugins/neat/functions/_private.scss",
        "css/0-plugins/neat/functions/_new-breakpoint.scss",
        "css/0-plugins/neat/settings/_grid.scss",
        "css/0-plugins/neat/settings/_visual-grid.scss",
        "css/0-plugins/neat/settings/_disable-warnings.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "html",
      "htm",
      "css",
      "rb",
      "php",
      "asp",
      "aspx",
      "cfm",
      "chm",
      "cms",
      "do",
      "erb",
      "jsp",
      "mhtml",
      "mspx",
      "pl",
      "py",
      "shtml",
      "cshtml",
      "cs",
      "vb",
      "vbs",
      "tpl",
      "ctp",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "json",
      "ts",
      "pug"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}