/* LINKS */
/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: blue;
}

/* selected link */
a:active {
    color: black;
}


/* TOP NAV */
.logo {
  position: absolute;
  width: 100px;
  top: 30px;
  left: 25px;
  z-index: 999;
}

.downlink {
  position: absolute;
  font-size: 25px;
  font-weight: bolder;
  top: 140px;
  left: 35px;
}


/* IMAGES */
.container {
  position: absolute;
  width: 1000px;
  height: 1500px;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  padding: 0px;
}
.mn_pin {
  position: absolute;
  margin: auto;
  width: 50%;
  top: 100px;
  left: 50%;
  z-index: 995;
}
.blur_image {
  position: absolute;
  margin: auto;
  width: 25%;
  top: 30%;
  left: 35%;
  z-index: 997;
}
.slinky {
  position: absolute;
  margin: auto;
  width: 50%;
  top: 45%;
  left: 22%;
  z-index: 996;
}
.collage {
  position: absolute;
  margin: auto;
  width: 50%;
  top: 25%;
  left: 70%;
  z-index: 998;
}
.sphere {
  position: absolute;
  margin: auto;
  width: 35%;
  top: 60%;
  left: 50%;
  z-index: 999;
}
.water {
  position: absolute;
  margin: auto;
  width: 30%;
  top: 67%;
  left: 80%;
  z-index: 994;
}
