/* LINKS */

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: blue;
}

a:active {
    color: black;
}


/* TOP NAV */

.logo {
  position: absolute;
  width: 100px;
  margin-top: 30px;
  margin-left: 25px;
  z-index: 999;
}

.downlink {
  position: absolute;
  font-size: 25px;
  font-weight: bolder;
  top: 140px;
  left: 35px;
}


/* IMAGES */

.mn_pin {
  position: absolute;
  margin: auto;
  width: 50%;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 995;
}

.blur_image {
  position: absolute;
  margin-right: 35%;
  width: 25%;
  top: 100vh;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.slinky {
  position: absolute;
  margin: auto;
  width: 40%;
  top: 150vh;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 996;
}

.collage {
  position: absolute;
  margin: auto;
  width: 40%;
  top: 110vh;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 998;
}

.sphere {
  position: absolute;
  margin: auto;
  width: 30%;
  top: 180vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.water {
  position: absolute;
  margin: auto;
  width: 50%;
  top: 100%;
  z-index: 994;
}

.speaker_render {
  position: absolute;
  margin: auto;
  width: 50%;
  top: 75%;
  z-index: 994;
}

/* LOGOS */
