/* LINKS */

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: #4683db;
    cursor: crosshair;
}

a:active {
    color: black;
}


/* TOP NAV */

.logo {
  position: fixed;
  display: none;
  width: 100px;
  margin-top: 30px;
  margin-left: 25px;
  z-index: 999;
}

.downlink {
  position: fixed;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  top: 50px;
  left: 35px;
  z-index: 999;
}

.insta {
  position: fixed;
  float: right;
  width: 20px;
  top: 50px;
  right: 25px;
  z-index: 999;
  cursor: alias;
}


/* BOTTOM NAV */

.email {
  position: fixed;
  text-decoration: none;
  font-size: 23px;
  letter-spacing: 2px;
  font-family: 'Six Caps', sans-serif;
  bottom: 50px;
  left: 35px;
  z-index: 999;
}

.uplink {
  position: fixed;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  bottom: 50px;
  right: 35px;
  z-index: 999;
}


/* IMAGES */

.full_image {
  position: relative;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  left: 50%;
  transform: translateX(-50%);
}

/*.mn_pin {
  position: absolute;
  margin: auto;
  width: 50%;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 995;
}

.blur_image {
  position: absolute;
  margin-right: 35%;
  width: 25%;
  top: 100vh;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.slinky {
  position: absolute;
  margin: auto;
  width: 40%;
  top: 150vh;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 996;
}

.collage {
  position: absolute;
  margin: auto;
  width: 40%;
  top: 110vh;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 998;
}

.sphere {
  position: absolute;
  margin: auto;
  width: 30%;
  top: 180vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.water {
  position: absolute;
  margin: auto;
  width: 50%;
  top: 100%;
  z-index: 994;
}

.speaker_render {
  position: absolute;
  margin: auto;
  width: 50%;
  top: 75%;
  z-index: 994;
}*/

/* LOGOS */
